$Soft-red-text: hsl(14, 88%, 65%);
$Very-dark-desaturated-blue-text: hsl(238, 29%, 16%);
$Soft-violet-bg: hsl(273, 75%, 66%);
$Soft-blue-bg: hsl(240, 73%, 65%);
$Light-grayish-blue-divider: hsl(240, 5%, 91%);
$Very-dark-grayish-blue-text: hsl(237, 12%, 33%);
$Dark-grayish-blue-text: hsl(240, 6%, 50%);
$font-weight-heading: 700;
$font-weight-text: 400;