@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Kumbh Sans", sans-serif;
}

@media (max-width: 970px) {
  html {
    font-size: 56.26%;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 50%;
  }
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(273deg, 75%, 66%) 10%, hsl(240deg, 73%, 65%) 30%, hsl(240deg, 73%, 65%) 50%);
  width: 100vw;
  min-height: 100vh;
}

.section {
  display: flex;
  margin-bottom: 2rem;
  width: 62%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.section .icon {
  position: absolute;
  top: 42%;
  left: -10%;
  z-index: 9999;
}
.section .img-div {
  padding-top: 8rem;
  width: 52%;
  background: url(../images/bg-pattern-desktop.svg);
  background-position: right 5vw top -39vh;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}
.section .img-div picture .main-bg {
  position: absolute;
  top: 12%;
  left: -17%;
  -o-object-fit: cover;
     object-fit: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section .text-details {
  width: 47%;
  padding: 0 3rem 2rem 0;
  margin-bottom: 6.4rem;
}
.section .text-details .heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  margin-top: 5.6rem;
  color: hsl(238deg, 29%, 16%);
}
.section .text-details ul {
  list-style-type: none;
  padding-left: 0.5rem;
}
.section .text-details ul .faq-list {
  border-bottom: 0.2rem solid hsl(240deg, 5%, 91%);
  padding: 1rem 0;
  width: 92%;
}
.section .text-details ul .faq-list .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.section .text-details ul .faq-list .holder .change {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1rem;
}
.section .text-details ul .faq-list .holder .paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
  color: hsl(237deg, 12%, 33%);
  cursor: pointer;
}
.section .text-details ul .faq-list .holder .paragraph:hover {
  color: hsl(14deg, 88%, 65%);
}
.section .text-details ul .faq-list span {
  color: hsl(240deg, 6%, 50%);
  font-size: 1.2rem;
  padding: 1rem 2rem 1rem 0;
  line-height: 1.4;
  display: none;
}
.section .text-details ul .faq-list.active .holder .paragraph {
  font-weight: 700;
}
.section .text-details ul .faq-list.active .holder .change {
  transform: rotate(180deg);
}
.section .text-details ul .faq-list.active span {
  display: block;
}

@media (max-width: 1230px) {
  .section {
    width: 70%;
  }
  .section .icon {
    top: 35%;
  }
  .section .img-div {
    width: 50%;
  }
  .section .text-details {
    width: 50%;
    padding-right: 5rem;
  }
  .section .text-details ul .faq-list {
    width: 100%;
  }
}
@media (max-width: 970px) {
  .section {
    width: 85%;
  }
  .section .icon {
    top: 38%;
    left: -9%;
  }
  .section .img-div {
    background: url(../images/bg-pattern-desktop.svg);
    background-position: right 12vw top -44vh;
    background-repeat: no-repeat;
  }
  .section .text-details {
    padding-right: 3rem;
  }
}
@media (max-width: 800px) {
  .section .icon {
    top: 36%;
    left: -9%;
  }
  .section .img-div {
    background: url(../images/bg-pattern-desktop.svg);
    background-position: right 12vw top -49vh;
    background-repeat: no-repeat;
  }
  .section .text-details {
    padding-right: 3rem;
    margin-bottom: 3rem;
  }
  .section .text-details .heading {
    margin-top: 3rem;
  }
}
@media (max-width: 570px) {
  .section .icon {
    top: 32%;
    left: -10%;
  }
  .section .img-div {
    background: url(../images/bg-pattern-desktop.svg);
    background-position: right 10vw top -51vh;
    background-repeat: no-repeat;
  }
  .section .text-details {
    padding-right: 1.5rem;
    margin-bottom: 3rem;
  }
  .section .text-details .heading {
    margin-top: 3rem;
  }
}
@media (max-width: 499px) {
  .main {
    padding-top: 18rem;
  }
  .main .section {
    flex-direction: column;
    height: 80vh;
  }
  .main .section .img-div {
    width: 100%;
    background: url(../images/bg-pattern-mobile.svg);
    background-position: left 15vw top 3vh;
    background-repeat: no-repeat;
    position: relative;
    height: 30%;
    overflow: visible;
  }
  .main .section .img-div picture .main-bg {
    top: -80%;
    left: 11%;
  }
  .main .section .icon {
    display: none;
  }
  .main .section .text-details {
    width: 100%;
    height: 80%;
    padding: 0 1.5rem;
    margin-top: -2rem;
    text-align: center;
  }
  .main .section .text-details .heading {
    margin: 0;
    font-size: 4rem;
  }
  .main .section .text-details ul {
    padding: 1.5rem;
  }
  .main .section .text-details ul .faq-list {
    margin-bottom: 1rem;
  }
  .main .section .text-details ul .faq-list:last-child {
    margin-bottom: 0;
  }
  .main .section .text-details ul .faq-list .holder {
    padding: 0.5rem 0;
  }
  .main .section .text-details ul .faq-list .holder .paragraph {
    font-size: 1.6rem;
  }
  .main .section .text-details ul .faq-list span {
    font-size: 1.5rem;
    text-align: left;
  }
}
@media (max-width: 410px) {
  .main .section .img-div {
    background: url(../images/bg-pattern-mobile.svg);
    background-position: left 55% top 17%;
    background-repeat: no-repeat;
    position: relative;
    height: 30%;
    overflow: visible;
  }
  .main .section .img-div picture .main-bg {
    top: -70% !important;
    left: 10%;
  }
}
.attribution {
  font-size: 1.4rem;
  text-align: center;
}

.attribution a {
  color: hsl(240deg, 5%, 91%);
}/*# sourceMappingURL=styles.css.map */